extends layout

block content
    form(id='form' method='Post' action='/addAdmin' )
        p Username: 
        input(type="text" name='regularUser' class='textInput') 
        input(type="submit" value='Change to ADMIN')
    