extends layout 

block content 
        form(id='form' method='Post' action='/create' class='registerForm')
                label(for='username') Username: 
                input(type='text' name='username')
                br
                label(for='password') Password: 
                input(type='password' name='password')
                br
                label(for='email') Email: 
                input(type='text' name='email')
                br
                label(for='age') Age:
                input(type='number' name='age')
                br
                label(for='q1') Are uncrustables a calzone or ravioli? 
                br

                input(type="radio", name="q1Answers", value="Calzone" class="radioBtn" checked)
                | Calzone
                input(type="radio", name="q1Answers", value='Ravioli' class="radioBtn")
                | Ravioli
                br
                label(for='q2') Who should narrate your life? 
                br
                input(type="radio", name="q2Answers", value="Morgan Freeman" class="radioBtn" checked)
                | Morgan Freeman
                input(type="radio", name="q2Answers", value='James Earl Jones' class="radioBtn")
                | James Earl Jones
                input(type="radio", name="q2Answers", value='Jim Carrey' class="radioBtn")
                | Jim Carrey
                input(type="radio", name="q2Answers", value='Ryan Reynolds' class="radioBtn")
                | Ryan Reynolds
                br
                label(for='q3') Which superpower would you most want to have?
                br
                input(type="radio", name="q3Answers", value='Super Speed' class="radioBtn" checked)
                | Super Speed 
                input(type="radio", name="q3Answers", value='Flight' class="radioBtn")
                | Flight 
                input(type="radio", name="q3Answers", value='Super Strength' class="radioBtn")
                | Super Strength
                input(type="radio", name="q3Answers", value='Telekinesis' class="radioBtn")
                | Telekinesis


                

                br
                input(type='submit' value='Register')
        form(method='GET' action="/")
                input(type='submit', value='Back')
