extends layout 

block content 
        form(id='form' method='Post' action='/create')
                label(for='username') Username: 
                input(type='text' name='username')
                br
                label(for='password') Password: 
                input(type='password' name='password')
                br
                label(for='email') Email: 
                input(type='text' name='email')
                br
                label(for='age') Age:
                input(type='number' name='age')
                br
                label(for='q1') Are uncrustables a calzone or ravioli? 
                br
                input(type="radio", name="q1Answers", value="Calzone")
                | Calzone
                input(type="radio", name="q1Answers", value='Ravioli')
                | Ravioli
                br
                label(for='q2') Who should narrate your life? 
                br
                input(type="radio", name="q2Answers", value="Morgan Freeman")
                | Morgan Freeman
                input(type="radio", name="q2Answers", value='James Earl Jones')
                | James Earl Jones
                input(type="radio", name="q2Answers", value='Jim Carrey')
                | Jim Carrey
                input(type="radio", name="q2Answers", value='Ryan Reynolds')
                | Ryan Reynolds
                br
                label(for='q3') Which superpower would you most want to have?
                br
                input(type="radio", name="q3Answers", value='Super Speed')
                | Super Speed 
                input(type="radio", name="q3Answers", value='Flight')
                | Flight 
                input(type="radio", name="q3Answers", value='Super Strength')
                | Super Strength
                input(type="radio", name="q3Answers", value='Telekinesis')
                | Telekinesis


                

                br
                input(type='submit' value='Register')
        form(method='GET' action="/")
                input(type='submit', value='Back')