extends layout 

block content 
    table(class='gridtable')
        tr 
            th ID
            th Name 
            th Age 
            th Species 
            th 
            th 
        each item in people 
            tr 
                td 
                    a(href='/details/' + item._id) #{item._id}
                td #{item.name}
                td #{item.age}
                td #{item.species}
                td 
                    a(href='/edit/' + item._id) Edit 
                td 
                    a(href='/delete/' + item._id) Delete 
    p 
        a(href='/create') Add New Person