doctype 
html 
    head
        title=title 
        link(href='/style.css' rel='stylesheet')
    body 
        div(id='container' class='container')
            h3(id="PageTitle" class='containerItem1')=title 
        block content 
        