extends layout

block content
    div(class="container vertical maxWidth")
        form(method='post' action="/" class="item")
            p Username:
                br
                input(type="text" name='username', class='textInput item') 
            p Password:
                br
                input(type="password" name='password' class='textInput item')
            p 
                input(type="submit", value="Log in" class='button item')
        form(method='GET' action="/create" id='registrationContainer' class='container item')
            input(type='submit', value='Registration', id='registrationButton' class='containerItem1 button item' )
    div(class="container horizontal maxWidth")
        div(id="canvCon")
            
            canvas(id='q2Canvas' class='canv')
            canvas(id='q1Canvas' class='canv')
            canvas(id='q3Canvas' class='canv')
    script(src="script.js")
