extends layout

block content
    form(method='post' action="/")
        p Username(user):
            br
            input(type="text" name='username') 
        p Password(pass):
            br
            input(type="text" name='password')
        p 
            input(type="submit", value="Log in")
        div #{errorMessage}
    form(method='GET' action="/create")
        input(type='submit', value='Registration')