html{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin: 0;
    overflow-x: hidden;
}

/* #container, #registrationContainer{
    display: flex;
    flex-direction: column;
    text-align: center;
} */

/* #PageTitle, #registrationButton{
    flex:1;
    
} */
.radioBtn{
    margin: 20px;
    padding: 20px;
}

.registerForm{
    padding: 10px;
}

.container{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.containerItem1{
    /* margin-left: auto;
    margin-right: auto;
    width: 50%; */
    flex:1;
    
}

#registrationButton{
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
}


body{
    margin: 0;
    font-size: 14px;
    width: 100%;
    padding: 20px;
    background-color: #902923;
    color: #D6D5C9;
    /* margin-left: auto;
    margin-right: auto; */
}

input, select, option{
    border: 2px solid #0A100D;
    color: #0A100D;
    background-color: #D6D5C9;
}

/* p{
    text-align: center;
} */

/* form{
    text-align: center;
    cursor: pointer;
    text-align: center;
    display: inline;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    width: 50%;
} */

input:hover, select:hover{
    background-color: #B9BAA3;
}




/* .textInout{
    cursor: text;
} */

.button{
    cursor: pointer;
}

#canvCon{
    /* display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%; */

}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.maxWidth {
    width: 100%;
}
.maxHeight {
    height: 100%;
}
.horizontal {
    flex-direction: row;
}
.vertical {
    flex-direction: column;
}
.item {
    margin: 2px;
    padding: 3px;
}
.canv {
    background-color: #902923;
    outline: solid 5px #000;
    /*flex: 1;*/
    /* display: inline-block; */
}

canvas{
    display: inline-block;
}
